
<section>
  <div class="space no-space dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <div class="servize">
            <i class="flaticon-placeholder"></i>
            <div class="serviz-meta">
              <span>Tucson, AZ 80210: 501 Lane</span>
              <i>Canada</i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="servize">
            <i class="flaticon-24-hours-1"></i>
            <div class="serviz-meta">
              <span>Tool free number 24/7</span>
              <i>+1-111-222-333</i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="servize">
            <i class="flaticon-24-hours"></i>
            <div class="serviz-meta">
              <span>Full time services</span>
              <i>24/7</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- footer top -->

<footer class="light">
  <div class="mockup-right">
    <img src="images/resources/footer-mockup.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="widget">
          <a href="index.html" title=""><img src="assets/images/Logoway2go.png" alt=""></a>
          <p>
            The trio took this simple idea and built it into the world’s leading carpooling platform, connecting millions of people going the same way.
          </p>
          <ul class="social">
            <li><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="widget">
          <div class="widget-title"><h4>useful links</h4></div>
          <ul class="list-style">
            <li><a href="#" title="">leasing</a></li>
            <li><a href="#" title="">submit route</a></li>
            <li><a href="#" title="">how does it work?</a></li>
            <li><a href="#" title="">agent listings</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="widget">
          <div class="widget-title"><h4>weekly news letter</h4></div>
          <div class="news-letter">
            <p>We may send you information about related events, webinars, products and services which we believe.</p>
            <form method="post">
              <input type="text" placeholder="Enter your email address">
              <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="widget">
          <div class="widget-title"><h4>download apps</h4></div>
          <ul class="colla-apps">
            <li><a href="#" title=""><i class="flaticon-android"></i> android</a></li>
            <li><a href="#" title=""><i class="flaticon-apple"></i> iPhone</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottombar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">© 2023. All rights reserved.way2go</span>
          <i><img src="images/credit-cards.png" alt=""></i>
        </div>
      </div>
    </div>
  </div>
</footer><!-- footer -->
